body {
    background-color: black;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-image: url('https://www.transparenttextures.com/patterns/dark-matter.png');
}
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #444;
    box-shadow: 0 4px 6px #444;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 1.8em;
    text-shadow: none;
}
#image{
    width:28px;
    height:28px;
}

h5 {
    color: #00aaff;
}

.meeting-section {
    padding: 10px;
    margin-bottom: 20px;
}

.meeting {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #444;
    cursor: pointer;
    transition: transform 0.3s;
}

.meeting:hover {
    background-color: #444;
    transform: scale(1.05);
}

.meeting h2 {
    font-size: 1.25em;
    color: #00aaff;
}

.meeting p {
    margin: 5px 0;
}

#meeting-details {
    padding: 30px;
    flex: 3;
    position: absolute;
    left: 50%;
    top: 3.3rem;
}

.join-btn {
    background-color: hsl(119, 59%, 22%);
    color: white;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-btn:hover {
    background-color: #14db71;
}

#page-loader{
    border: 16px dotted #f3f3f3;
    border-radius: 50%;
    border-top: 16px dotted #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 180px auto; /* Center the loader within its parent element */
    display: none;
}
.loader {
    border: 10px dotted #f3f3f3;
    border-radius: 50%;
    border-top: 16px dotted #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto; /* Center the loader within its parent element */
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#meeting-container {
    display: flex;
    height: calc(100vh - 60px); 
    flex-direction: row;
}

#meeting-lists {
    flex: 2;
    max-width: 550px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    right: 11%;
}

.meeting-list {
    max-height: 500px;
    overflow-y: auto;
    padding-left: 10px;
}

.meeting-list::-webkit-scrollbar {
    width: 6px;
}

.meeting-list::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 2px;
}
.blur {
    filter: blur(5px);
}
